  <!--? Info_Create Modal -->
  <div
    class="modal fade"
    id="create-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content width-50vw-important modal-posotion">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정보 입력하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <form action="{% url 'create' %}" method="post" id="create-add">
        {% csrf_token %}
        <div class="modal-body">                
          <!--* 입력값 -->
          <div class="flex-center flex-direction-column">
            <div class="flex-center crtn-tagName" style="width: 100%;">
              {% for ulList in ulList %}
                {% if forloop.counter0 > 1 %}
                  <div class="flex-center flex-direction-column {% if ulList.0 == 'name' %}width-15percent {% elif ulList.0 == 'number' %}width-10percent {% elif ulList.0 == 'deposit' %}width-35percent {% else %}width-20percent {% endif %}">{{ulList.1}}</div>
                {% endif %}
              {% endfor %}
            </div> <!-- class="crtn-tagName" 끝부분 -->
            {% for list in list %}
              <div class="flex-center">
                <input type="text" name="{{sub_form.name.html_name}}" id="{{sub_form.name.id_for_label}}" class="width-15percent">
                <input type="number" name="{{sub_form.number.html_name}}" id="{{sub_form.number.id_for_label}}" class="width-10percent">
                <input type="text" name="{{sub_form.nickname.html_name}}" id="{{sub_form.nickname.id_for_label}}" class="width-20percent">
                <input type="number" name="{{sub_form.deposit.html_name}}" id="{{sub_form.deposit.id_for_label}}" class="width-35percent">
                <input type="number" name="{{sub_form.score.html_name}}" id="{{sub_form.score.id_for_label}}" class="width-20percent">
              </div>
              {% endfor %}
          </div>

          {{formset.management_form}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">회원 정보에 추가하기</button>
        </div>
      </form>
      </div>
    </div>
  </div>