<!-- Modal -->
<div
  class="modal fade"
  id="update-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content width-50vw-important modal-posotion">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">정보 수정</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="updateForm" >
        <div class="modal-body">                
          <!--* 입력값 -->
          <div class="flex-center flex-direction-column">
            <div class="flex-center crtn-tagName" style="width: 100%;">
              {% for ulList in ulList %}
                {% if forloop.counter0 >= 1 %}
                <div class="flex-center flex-direction-column {% if ulList.0 == 'no' %}width-5percent {% elif ulList.0 == 'name' %}width-15percent {% elif ulList.0 == 'number' %}width-10percent {% elif ulList.0 == 'deposit' %}width-30percent {% else %}width-20percent {% endif %}">{{ulList.1}}</div>
                {% endif %}
              {% endfor %}
            </div> <!-- class="crtn-tagName" 끝부분 -->

            <div>
              <!--* input checkbox 반복 -->
              <div class="flex-center">
              {% for ulList in ulList %}
                {% if forloop.counter0 == 1 %}
                <div name="no" class="width-5percent modal-read-style">{{forloop.counter0}}</div>
                {% elif forloop.counter0 > 1 %}
                    <input 
                      type="{% if ulList.0 == 'name' or ulList.0 == 'nickname' %}text{% else %}number{% endif %}"
                      name="{{ulList.0}}"
                      class="{% if ulList.0 == 'no' %}width-5percent {% elif ulList.0 == 'name' %}width-15percent {% elif ulList.0 == 'number' %}width-10percent {% elif ulList.0 == 'deposit' %}width-30percent {% else %}width-20percent {% endif %}"
                      value="{% if ulList.0 == 'name' or ulList.0 == 'nickname' %}{{forloop.counter0}}-{{ulList.1}}{% else %}{{forloop.counter0}}{% endif %}"
                      >
                  {% endif %}
                {% endfor %}
                </div>
            </div> <!-- id=ctnr-info 끝부분 -->

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">정보 수정</button>
        </div>
      </form>
    </div>
  </div>
</div>